doctype html
html
    head
        meta(charset="utf-8")
        title #{name}-test
        meta(name="keywords", content=keywords)
        meta(name="description", content=description)
        link(rel="icon", href="images/icon/favicon.ico")
        link(rel="stylesheet", href=path+"/css/base.min.css")
        link(rel="stylesheet", href=path+"/css/countdown.min.css")
    body
        //引入require.js文件，设置data-main属性，以便require.js加载程序主入口文件-js/main.js
        script(src="../libs/requirejs/require.js", data-main=path+"/js/main")